.titulo {
    margin-top: 20vh;
    margin-bottom: -15vh;
    color: #02825B;
    font-size: 2rem;
    text-align: center;
}

.modulos {
    color: #02825B;
    font-size: 2rem;
    text-align: center;
}