.btnAcept {
  width: 111px;
  height: 44px;

  border: none;
  background: #02825b;
  border-radius: 12px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #ffffff;
}

.btnSair {
  width: 124px;
  height: 43px;
  left: 164px;
  top: 86px;
  background: #c40011;
  border-radius: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border: none;
  color: #ffffff;
}
